<link rel="stylesheet" type="text/css" href="/css/bootstrap.admin.css">
<link rel="stylesheet" type="text/css" href="/css/style.admin.css">
<link rel="stylesheet" type="text/css" href="/font-awesome/css/font-awesome.css">


<div class="intro-header">
	<div class="pos">
        <a class="btn btn-primary" href="#/">
        <i class="fa fa-home fa-fw"></i>
        HOME
        </a>
    </div>
   
	<div class="centering">
        <div class="container">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                         <h3>Update Section</h3>
                    </div>
                    <div class="panel-body">
                    <table class="table">
 	                        <thead>
 	                             <tr>
 	                              <th>Name</th>
 	                              <th>Email</th>
 	                              <th>Number</th> 
 	                              <th class="th1">Action</th>	    
 	                             </tr>
 	                        </thead>
 	                        <tbody>
 	                            <tr> 	   	   
 	   	                          <td><input type="text" class="form-control" ng-model="contact.name" placeholder="Enter Fullname" required /></td>
 	   	                          <td><input type="text" class="form-control" ng-model="contact.email" placeholder="Enter Email" required /></td>
 	                      	      <td><input type="text" class="form-control" ng-model="contact.number" placeholder="Enter Phone Number" required /></td>
 	                           <!-- <td class="td1"><button class="btn btn-primary" ng-disabled="!contact.name || !contact.email ||!contact.number" ng-click="addcontact()">Add Contact</button> -->
 	   	                          <td class="td1"><button class="btn btn-info" ng-disabled="!contact.name || !contact.email ||!contact.number" ng-click="update()">Update</button></td>
      
 	                            </tr>
                            </tbody>
                    </table>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>View Section</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Number</th> 
                                    <th class="th1">Action</th>     
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="contact in contactlist">
                                    <td>{{contact.name}}</td>
                                    <td>{{contact.email}}</td>
                                    <td>{{contact.number}}</td>
                                    <td class="td1"><button class="btn btn-danger" ng-click="remove(contact._id)">Remove</button>
                                    <button class="btn btn-warning" ng-click="edit(contact._id)">Edit</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
</div>
    <!-- /.intro-header -->